# ─── BD ───
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=blogverse
MYSQL_USER=blogverse_user
MYSQL_PASSWORD=blogverse_password  

# ─── BACKEND ───
BACKEND_VERSION=1.1
BACKEND_PORT=3000

JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# ─── FRONTEND ───
FRONTEND_VERSION=1.1
FRONTEND_PORT=8080